.nav {
  background-color: black;
  color: white;
  padding: 20px;
}

input {
  width: 100%;
  background-color: transparent;
  outline: 1px solid white;
  border: none;
  color: white;
  letter-spacing: 1px;
  padding: 10px;
}

input:focus {
  outline: 2px solid white;
}

input::placeholder {
  color: #ffffffba;
  text-transform: capitalize;
  font-size: 8pt;
}

nav {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 40px;
}

h1 {
  display: flex;
  gap: 10px;
  margin: 0;

  letter-spacing: 3px;
  font-weight: 400;
}

.subtitle {
  font-size: 8pt;
  letter-spacing: 2px;
  color: #ffffffba;
  user-select: none;
  margin-top: -8px;
}
