body {
  font-family: sans-serif;
  font-size: 14px;
  height: 100vh;
  margin: 0;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 2px dashed white;
  outline-offset: 4px;
}

a:active {
  outline: none;
}
