:root {
  --mds-background: #ffffffba;
  --mds-foreground: #000000ce;
  --mds-primary: #00a2ff;
  --mds-secondary: #ff9a00;
}

::selection {
  background-color: var(--mds-secondary);
  color: black;
}

body {
  height: 100vh;
  margin: 0;

  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 100;
  letter-spacing: 2px;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-columns: 340px auto;
  overflow-y: hidden;
}

.home {
  background: linear-gradient(
    to right,
    var(--mds-background),
    var(--mds-foreground)
  );
  display: flex;
  flex-direction: column;
  padding: 20px;
}

a:focus {
  outline: none;
  border-bottom: 1px solid var(--mds-primary);
}

a:active {
  outline: none;
}
